<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.doweb.httpproxy"
        version="1.0.0">

  <name>Httpproxy</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/httpproxy.js" target="js/httpproxy.js"/>

  <js-module src="www/httpproxy.js" name="httpproxy">
    <clobbers target="httpproxy" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Httpproxy">
        <param name="android-package" value="com.doweb.httpproxy.Httpproxy"/>
      </feature>
    </config-file>

    <source-file src="src/android/Httpproxy.java" target-dir="src/com/doweb/httpproxy/"/>
  </platform>


</plugin>